.practice-reg-wrapper{
  padding-bottom: 50px;
  background-color: #F9F9F9;
}

.practice-reg{
  @include topbar();

  &__title{
    font-size: 30px;
  }
}

.label-reg-practice{
  font-size: 16px;
  font-weight: 200;

  &--1{
    display: inline-block;
    padding-top: 50px;
  }
}