.user-reg-main{
  width: 100%;
    
    &__form{
      width: 700px;
      margin: 0 auto;
      background-color: #fff;
    }
}

.user-reg-wrapper{
  padding-bottom: 50px;
  background-color: #F9F9F9;
}

.user-reg{
  height: 120px;
  width: 100%;
  background: #FFFC0E;
  // margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;


  &__title{
    font-size: 30px;
  }
}

.label-reg-profile{
  font-size: 16px;
  font-weight: 200;

  &--1{
    display: inline-block;
    padding-top: 50px;
  }
}
